body {
    background: linear-gradient(to right, rgba(255, 101, 255, 0.3), #bbe3ff);
}

.todo {
    width: 98%;
    height: 500px;
    padding-top: 30px;
    background-color: white;
    border-radius: 10px;
    margin-top: 40px;
    margin-left: 1%;
    box-sizing: border-box;
}

.title {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    top: 40px;
}

.title > p {
    color: #7bcbff;
}

.todo-from {
    display: flex;
    justify-content: center;
}

.todo-input {
    padding-left: 15px;
    border: 1px solid #dfe1e5;
    border-radius: 20px 0 0 20px;
    outline: none;
    width: 60%;
    height: 50px;
    margin-bottom: 20px;
}

.todo-button {
    width: 100px;
    height: 54px;
    border-radius: 0 20px 20px 0;
    text-align: center;
    background: linear-gradient(to right, rgba(255, 101, 255, 0.3), #bbe3ff);
    color: white;
    line-height: 52px;
    cursor: pointer;
    user-select: none;
}

.item {
    align-items: center;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    width: 80%;
    height: 50px;
    margin: 12px auto;
    padding: 16px;
    border-radius: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 2px 8px 20px 1px;
}

.del {
    color: #ef0b0b;
}

.completed {
    text-decoration: line-through; /*删除线*/
    opacity: 0.4; /*透明度*/
}
